﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AfficherArticle.aspx.cs" Inherits="footUltimeVersion.Article.AfficherArticle" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div>
        <asp:Label ID="TitreArticle" runat="server"></asp:Label> <br />
        <asp:Label ID="TextArticle" runat="server"></asp:Label>

    </div>
    <div id="form1" runat="server">
        <asp:TextBox ID="textbox_commentaire" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Height="25px" OnClick="button_valider" Text="Valider" Width="195px" />
    </div>
        <div id="comments" runat="server" />
</asp:Content>
