﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PageDeDeconnexion.aspx.cs" Inherits="footUltimeVersion.PageDeDeconnexion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <h1>Vous vous êtes correctement deconnecté</h1>

</asp:Content>
